.react-bootstrap-table-pagination-list {
  text-align: center;
  transform: translateX(-18%);
}

.react-bootstrap-table-page-btns-ul {
  float: none;
}

.hXHgji {
  margin: 0 auto !important;
}
.react-bootstrap-table-pagination {
  width: 99%;
}
thead,
td {
  text-align: center;
}
td {
  font-size: 15px;
}
thead {
  font-size: 15px;
}
